.init{
	/*background: red;*/

	margin-bottom: 30px;
}
.form-group{
	padding: 3px;
}
.form-group input,.my-input input{
    background: transparent;
    color: white;
}
.my-input input{
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button{
    background: #2C3E50;
    color: white;
    border: 1px solid #ccc !important;
}
form button:hover{
    color: #2980B9 !important;
    border: 1px solid #2980B9 !important;
}
form button:focus { color: white !important; }
hr{
    border: 1px solid #2980B9 !important;
}
.panel-body{
	background: #2980B9;
	font-size: 11pt;
    padding: 10px;
}
.panel{
    background: #2980B9;   
}

.delete{
    font-size: 15pt;
    color:red;
    margin-top: 12px;
}
.delete span:hover{
    color:black;
    cursor: pointer;

}
.jumbotron{
    background: transparent;
    /*height: 300px;*/
}